<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">Counter</div>
                <div class="col">Attack</div>
                <div class="col">Defense</div>
                <div class="col">Tactics</div>
                <div class="col">Move</div>
                <div class="col">Other</div>
            </div>
            <scout [id]="1" [attack]="0" [defense]="0" [tactics]="2" [move]="2" [pointDefence]="0"></scout>
            <scout [id]="2" [attack]="1" [defense]="0" [tactics]="1" [move]="1" [pointDefence]="1"></scout>
            <destroyer [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1" [scanners]="1"></destroyer>
            <cruiser [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1" [exploration]="1"></cruiser>
            <battle-cruiser [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1"></battle-cruiser>
            <battleship [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1"></battleship>
            <dreadnaught [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1"></dreadnaught>
            <fighter [id]="1" [attack]="1" [defense]="0" [tactics]="1" [fighters]="1"></fighter>
            <carrier [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1"></carrier>
            <raider [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1" [cloaking]="1"></raider>
            <minesweeper [id]="1" [attack]="1" [defense]="0" [tactics]="1" [move]="1" [mineSweeping]="1"></minesweeper>
            <ship-yard [id]="1" [attack]="1" [defense]="0" [tactics]="1"></ship-yard>
        </div>        
    </div>
</div>
    