<div class="label">{{ label }}</div>
<div class="btn-group" btnRadioGroup [(ngModel)]="_selectedValue">
    <label
        *ngFor="let item of prices; let i = index" 
        class="btn btn-{{ i == 0 ? 'primary' : 'outline-tech' }}"
        [disabled]="false"
        [uncheckable]="true" 
        btnRadio="{{ i + (startFromOne ? 1 : 0) }}"
        tabindex="0"
        role="button"
    ><span class="tech-level">{{ i + (startFromOne ? 1 : 0) }} </span><span class="tech-value">{{ i > 0 ? "(" + item + ")" : "" }}</span></label>
</div>
